.content {    
  margin-left: 220px auto;
  /* 200px sidebar + 20 padding */
  transition: margin-left 0.3s ease;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: var(--panel);
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: width 0.3s ease, padding 0.3s ease;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 50px;
    padding: 24px 4px;
}

.sidebar.collapsed a, .sidebar.collapsed b {
    visibility: hidden
}

.sidebar.collapsed~.content {
  margin-left: 70px auto;
  /* collapsed width + 20 padding */
}

.sidebar a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}

.sidebar b {
    padding: 6px 8px;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.05);
}

.sidebar a:visited {
    color:var(--link-visited)
}

.sidebar-toggle {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--accent);
    cursor: pointer;
    margin-bottom: 12px;
}